<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics.Signed" version="4.9.1" targetFramework="net472" />
  <package id="MathNet.Spatial.Signed" version="0.6.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Kinect.BodyTracking" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime" version="1.10.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Kinect.Sensor" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net472" />
  <package id="Microsoft.Psi.Audio" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.AzureKinect.x64" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Calibration" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Data" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.DeviceManagement" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Imaging" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Imaging.Windows" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Kinect.Windows" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.MixedReality" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Runtime" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Microsoft.Psi.Spatial.Euclidean" version="0.19.100.1-beta" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="StereoKit" version="0.3.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>